################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CityPOS/FileContentIndex/21ea8ed5-27be-407d-a520-5d38e8c30702.vsidx
/.vs/CityPOS/FileContentIndex/21ea8ed5-27be-407d-a520-5d38e8c30702.vsidx
/.vs/CityPOS/FileContentIndex/b397d4ac-20c6-4791-8ae6-d7dc3c01068b.vsidx
/.vs/CityPOS/FileContentIndex/fc52707a-07cc-4a80-a948-af9567696938.vsidx
/.vs/CityPOS/FileContentIndex/21ea8ed5-27be-407d-a520-5d38e8c30702.vsidx
/.vs/CityPOS/FileContentIndex/21ea8ed5-27be-407d-a520-5d38e8c30702.vsidx
/.vs/CityPOS/FileContentIndex/21ea8ed5-27be-407d-a520-5d38e8c30702.vsidx
/.vs/CityPOS/FileContentIndex/b397d4ac-20c6-4791-8ae6-d7dc3c01068b.vsidx
/.vs/CityPOS/FileContentIndex/fc52707a-07cc-4a80-a948-af9567696938.vsidx
*.vsidx
